.Tarea {
  font-size: 1.3em;
  background: white;
  border-radius: 10px;
  margin: 0.5em;
  padding: 1em;
  width: 130px;
  border-right-width: 10px;
  border-right-style:solid;
  border-right-color:transparent;
 .actions {
     display:flex;
     flex-flow:column;
     align-items: flex-start;
 }
  button {
    border: none;
    background: black;
    color: white;
    margin: 4px 0;
  }

  &.completed {
    opacity: 0.6;
    .text {
        text-decoration: line-through;
    }
  }

}
