.Tarea {
  font-size: 1.3em;
  background: white;
  border-radius: 15px;
  margin: 0.5em;
  padding: 1em;
  min-width: 150px;
  border-width:2px;
  border-right-width: 15px;
  // border-bottom-width: 5px;
  border-style:solid;
  border-color:transparent;
 .actions {
     display:flex;
     flex-flow:column;
     align-items: flex-start;
 }
  button {
    border: none;
    background: black;
    color: white;
    margin: 4px 0;
  }

  &.completed {
    background: #fff6  ;
    .text {
        text-decoration: line-through;
    }
  }

}
