.Tarea  {
    font-size: 1.3em;
    background: white;
    border-radius: 10px;
    margin:0.5em;
    padding:1em;
    width: 130px;
}
.Tarea button {
    border:none;
    background: black;
    color: white;
}

.Tarea.completed {
    opacity:0.6;
    text-decoration: line-through;
}